<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1><%- title %></h1>
                <p>A simple Url shortener powered by the <a href="http://mern.io" target="_blank" rel="external"><em>MERN</em></a> stack</p>
                <div id="root">
                    <form id="input" class="input">
                        <input type="text" placeholder="http://myreallylonglink/thispartisok?propsAreTrimmedTho" id="input__field" class="input__field">
                        <input type="submit" value="shorten" class="input__submit">
                    </form>
                    <div class="result"></div>
                </div>
                <p>This microservice can also be consumed as a RESTful API:</p>
                <pre>$ curl <%- protocol %>://<%- host %>/new/myUrlToBeShortened.net</pre>
                <p>Example response:</p>
                <pre>{"originalUrl":"myUrlToBeShortened.net","newUrl":"BJ3suta5G","createdAt":"2018-03-31T22:16:04.367Z"}</pre>
                <p>Requests are limited to prevent DOS and all links expire after 24 hours.</p>
                <footer>Hand crafted by <a href="http://eddietindame.github.io" target="_blank" rel="external">Eddie Tindame</a> 💻</footer>
            </div>
        </div>
    </div>
    <script src="/bundle.js"></script>
</body>
</html>